*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

 /* настройка размеров карусели */

 @media (min-width: 300px) {
  #myCarousel{
    margin-top: 10%;
  }
  .container{ 
      margin-top: 10%;
      padding: 5%;
  }
  .carousel-inner {
    width: 100%;
    height: 35vh;
  }
  .carousel-item {
    width: 100%;
    height: 35vh;
  }
  .col-12 > #myCarousel > .carousel-inner > .carousel-item > .container > .carousel-caption{
    font-size: 15px;
  }
  
  .col-12 > #myCarousel > .carousel-inner > .carousel-item > .container > .carousel-caption > h1{
    font-size: 25px;
  }
  .col-12 > #myCarousel > .carousel-inner > #slide2 > .container > .carousel-caption > p{
    color: white;
  } 
  .col-12 > #myCarousel > .carousel-inner > #slide3 > .container > .carousel-caption > p{
    color: rgb(50, 51, 51);
  }
} 
@media (min-width: 576px) {
  #myCarousel{
    margin-top: 7%;
  }
  .carousel-inner {
    width: 100%;
    height: 50vh;
  }
  .carousel-item {
    width: 100%;
    height: 50vh;
  }  
  .container{
    margin-top: 7%;
    padding: 5%
  }
  .col-12 > #myCarousel > .carousel-inner > .carousel-item > .container > .carousel-caption{
    font-size: 18px;
  }
  
  .col-12 > #myCarousel > .carousel-inner > .carousel-item > .container > .carousel-caption > h1{
    font-size: 30px;
  }
  .col-12 > #myCarousel > .carousel-inner > #slide2 > .container > .carousel-caption > p{
    color: rgb(31, 31, 31);
  }
  .col-12 > #myCarousel > .carousel-inner > #slide3 > .container > .carousel-caption > p{
    color: rgb(50, 51, 51);
  }
}

@media (min-width: 768px) {
  #myCarousel{
    margin-top: 6%;
  }
  .carousel-inner {
    width: 100%;
    height: 65vh;
  }
  .carousel-item {
    width: 100%;
    height: 65vh;
  } 
  .container{
    margin-top: 4%;
    padding: 1%;
  } 
  .col-12 > #myCarousel > .carousel-inner > .carousel-item > .container > .carousel-caption{
    font-size: 23px;
  }
  
  .col-12 > #myCarousel > .carousel-inner > .carousel-item > .container > .carousel-caption > h1{
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  #myCarousel{
    margin-top: 3.5%;
  }
  .carousel-inner {
    width: 100%;
    height: 70vh;
  }
  .carousel-item {
    width: 100%;
    height: 70vh;
  }  
  .container{
    margin-top: 3%;
    padding: 1%;
  }
  .col-12 > #myCarousel > .carousel-inner > .carousel-item > .container > .carousel-caption{
    font-size: 25px;
  }
  
  .col-12 > #myCarousel > .carousel-inner > .carousel-item > .container > .carousel-caption > h1{
    font-size: 40px;
  }
}

  @media (min-width: 1200px) {
    #myCarousel{
      margin-top: 2%;
    }
  .carousel-inner {
    width: 100%;
    height: 97vh;
  }

  .carousel-item {
    width: 100%;
    height: 97vh;
  }  
  .col-12 > #myCarousel > .carousel-inner > .carousel-item > .container > .carousel-caption{
    font-size: 30px;
  }
  
  .col-12 > #myCarousel > .carousel-inner > .carousel-item > .container > .carousel-caption > h1{
    font-size: 50px;
  }
  .col-12 > #myCarousel > .carousel-inner > #slide2 > .container > .carousel-caption > p{
    color: rgb(31, 31, 31);
  } 
  .col-12 > #myCarousel > .carousel-inner > #slide2 > .container > .carousel-caption > h1{
    color: rgb(31, 31, 31);
  } 
}
/* до сюда */


  /* настройка размеров картинки */
.carousel > .carousel-inner > .carousel-item > img{
    width: 100%; 
    height: 100%;
}
  /* до сюда*/


.neon{
    /* border-top: 2px solid #e91e63;  */
    margin-top: 2%;
    height: 3px;
    background-image: radial-gradient(circle, rgb(230, 136, 13), #e91e63);
}
  
#history-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
}

.btn {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    padding: 12px 32px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50px;
    margin-bottom: 2%;
  }
  :root {

    --primary-color:233, 30, 99;
    
    /* white */
    --text-color: 256, 256, 256;
  }
  
  .btn:hover {
    transition: all 0.3s ease;
  }  
  .btn-glow:hover {
    box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 40px 0px;   
  }  
  .btn-gradient {
    background-image: linear-gradient(to right, rgb(218, 160, 1), rgb(233, 30, 99));
    border: 0;
    color: rgba(var(--text-color));
  }
  .btn-gradient-border {
    color: rgba(var(--text-color));
    border: 2px double transparent;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(218, 160, 1), rgb(233, 30, 99));
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }


#custom-card-1{
    border-radius: 50px;
    border: 1px  solid black;
    background-image: url("pictures/хакер на фоне доождя .jpg");
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: 50%;
}
#custom-card-2{
    border-radius: 50px;
    border: 1px  solid black;
    background-image: url("pictures/сталкер на дороге.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: 50%;
}
#custom-card-3{
    border-radius: 50px;
    border: 1px  solid black;
    background-image: url("pictures/хакер на фоне мониторов.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: 50%;
}

#radiation{
    color: black;
    background-color: rgb(204, 207, 23);
    border-radius: 50%;
}
a{
    text-decoration: none;
}


body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
    color: rgb(144, 146, 148);
    /* color: #24262b; */
}
.footer{
    background-color: rgb(33, 37, 41);
    padding: 70px 0;
    
}
.footer-col{
     width: 25%;
     padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    /* text-transform: capitalize; */
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: rgb(48, 170, 229);

}
  
  /*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
}
