*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    margin-top: 0.2%;
}
body{
    margin-top: 2%;
    white-space: normal;
    word-break: break-all;
    word-break: keep-all;
}
p{
    font-size: 20px;
    color: rgb(144, 146, 148);
}
ul{
    font-size: 20px;
    color: rgb(144, 146, 148);
}

.navbar-toggler{
    background-image: linear-gradient(to right, rgb(218, 160, 1), rgb(233, 30, 99));
}

@media (min-width: 300px) {
    #text{ 
       margin-top: 10%;
       padding: 5%;
    }
 }
@media (min-width: 576px) {
    #text{ 
       margin-top: 7%;
       padding: 1%;
    }
 }
 
 @media (min-width: 768px) {
    #text{
       margin-top: 4%;
       padding: 1%;
    }
 }
 
 @media (min-width: 992px) {
   #text{
       margin-top: 3%;
       padding: 1%;
   }
 }
 
   @media (min-width: 1200px) { 
   #text{
       margin-top: 1%; 
       padding: 1%;       
   }
 }

.neon{
    margin-top: 2%;
    height: 3px;
    background-image: radial-gradient(circle, rgb(230, 154, 13), #e91e63);
}

#text{
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.decoration{
    display: flex;
    justify-content: space-around;
    margin-left: 0;

}
.picture{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
footer > .container > .row > .footer-col > ul{
    list-style: none;
    color: rgb(144, 146, 148);
}
.footer{
    background-color: rgb(33, 37, 41);
    padding: 70px 0;
    
}
.footer-col{
     width: 25%;
     padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    /* text-transform: capitalize; */
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: rgb(48, 170, 229);

}
  
  /*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
}



